NEXT_PUBLIC_SUPABASE_URL=https://yymtiknzsnvvsvbnghzt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl5bXRpa256c252dnN2Ym5naHp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY0MjEzNDQsImV4cCI6MjA5MTk5NzM0NH0.TArsiMMyVuh3vC01inWdVFBdzZSoOGLkLS4SjrCeI6I
MEI_AI_PROVIDER_BASE_URL=https://openrouter.icu/v1
MEI_AI_PROVIDER_API_KEY=sk-cf7ed7bf6e29316e52825322bd5bc6b8783ee39b077bf35850a9785d57c70767
MEI_AI_MODEL=gpt-5.4
